# Python compiled objects
*.pyc
.DS_Store
__pycache__
# Python environments
venv/

# we use this to store modules and caches
.toolchain/

# direnv uses this for flakes and for python
.direnv/

# macos
.DS_Store

# data is a zip archive, run `unzip data/data.zip` to inflate
# all the .png files
data/*.png
